.pagination {
    width: calc(100% - 60px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #282828;
    padding: 5px 30px;
    gap: 10px;
    margin-bottom: 100px;
}

.pagination button {
    background-color: #282828;
    border: none;
    font-size: 20px;
    display: flex;
    width: fit-content;
    color: var(--site-clr);
    cursor: pointer;
}
.pagination button:disabled{
    color: gray;
    cursor: initial;
}


@media (max-width: 500px) {
    .pagination{
        width: calc(100% - 20px);
    }
}