.input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #292529;
    gap: 5px;
    margin-top: 15px;
}
.input>div{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    color: gray;
    pointer-events: none;
    transition: 0.5s;
}
.input input{
    border: none;
    outline: none;
    padding: 5px;
    position: relative;
    color: transparent;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}
.input input:valid,
.input input:focus{
    color: white;
}
.input input:valid ~ div,
.input input:focus ~ div{
    transform: translateY(-20px);
    font-size: 15px;
}
.input input::-webkit-inner-spin-button{
  display: none;
}
.input input[type='date']::-webkit-calendar-picker-indicator{
    filter: invert(1);
}