.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 2px solid #f26826;
    font-family: Roboto, Regular;
}

.navbar h1 {
    font-family: bebas-neue;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 30px;
}

img.profile_pic {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border: 1px solid #707070 !important;
    border-radius: 50% !important;
}

.navbar div div:has(.sub_menu):hover,
.navbar a:hover,
.navbar div div:has(.sub_menu).active,
.navbar a.active {
    color: #FF7700;
}

.navbar>div {
    display: flex;
    gap: 25px;
    font-size:18px;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    font-weight: 400;
}


.navbar>div>div {

    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family:"roboto"
}


.navbar .sub_menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 0;
}

.navbar .sub_menu a {
    color: #8e8a8a;
}

.navbar .sub_menu a.active,
.navbar .sub_menu a:hover {
    color: var(--site-clr);
}

.navbar>div>div.show .sub_menu {
    display: flex;
}

.nav_small {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 25px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid #f26826;
}

.nav_small .nav_open_btn {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav_small .items {
    display: none;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 25px;
    padding: 10px;
    height: auto;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
    border-radius: 10px;
    gap: 10px;
}

.nav_small .nav_open_btn.show~.items {
    display: flex;
}

.nav_small .items div,
.nav_small .items a {
    color: black;
    width: 100%;
    transition: 0.2s;
    padding: 5px;
    border-radius: 5px;
}

.nav_small .items div:hover,
.nav_small .items div.active,
.nav_small .items a:hover,
.nav_small .items a.active {
    background-color: var(--site-clr);
    color: var(--fg);
}

.nav_small .sub_menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 90% !important;
    background-color: var(--site-clr);
    gap: 10px;
    padding: 10px 10px 10px 30px;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    transform: translateX(10px) translateY(55%);
}

.nav_small .items div img ~ .sub_menu{
    width: 90%;
    transform: translateX(10px) translateY(90%);
}

.nav_small .items div .sub_menu.show {
    display: flex;
}

.nav_small .sub_menu a {
    color: var(--fg);
    padding: 5px;
    width: 100%;
}

.nav_small .sub_menu a.active,
.nav_small .sub_menu a:hover {
    background-color: var(--fg);
    color: var(--site-clr);
}


@media(max-width: 1250px) {
    .navbar {
        display: none;
    }

    .nav_small {
        display: flex;
    }
}