
#main-right-nav{
    display: flex;
}
#DM{
    display: none;
    font-family: roboto;
}




.right-nav{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    margin-top: 100px;
    border: 1px solid #F26826;
    border-radius: 10px 0px 0px 10px;
    flex-direction: column;
    /* align-items: center; */
    width: calc(250px - 20px);
    padding: 10px;
    background-color: #232323;
    transition: 0.5s ease-in-out;
    height: 70vh;
    /* overflow-x: auto; */
}


.right-nav span.nav-opener{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 10px;
    height: 40px;
    width: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: #232323;
    border: 1px solid #F26826;
    transform: translateX(-100%);
    cursor: pointer;
}
.right-nav:has(span.nav-opener i.fa-angle-left){
    transform: translateX(100%);
}

.navigation-top{
    display: flex;
    font-family: roboto;
    margin-bottom: 10px;
    padding: 0px 10px;
    gap: 10px;
    justify-content: center;
}
.navigation-top a{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0px 14px;
    border: 1px solid #F26826;
    border-radius: 10px;
    font-size: 14px;
}
.active{
    background-color: #F26826;
    color: white;
}
.message-search{
    display: flex;
    width: 100%;
    position: relative;
}
.message-search img{
    padding-right: 10px;
}
.message-search input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #707070 ;
}
.message-search i{
    padding-top: 10px;   
    align-items: center;
    justify-content: right;
    border-bottom: 2px solid #707070 ;
   
}


.right-nav img{
    width: 30px;
}
.right-nav .chats{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1; 
    max-width: calc(100% - 20px);
    width: 100%;
    font-family: roboto;
}

.right-nav .chats span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
  
    cursor: pointer;
}

.name-chats{
   display: flex;
   gap: 10px; 
}
.name-chats a{
    padding-top: 10px;
    text-decoration: none;
    color: white ;
}


.right-nav .chats span.border{
    border: 1px solid #F26826;
}
.right-nav .chats span.online::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #77F226;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.right-nav .chats img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/* DM Chat CSS */
#DM{
   display: none;}


.chat-head {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid black;
}
.chat-head span {
    justify-content: center;
    align-items: center;
}
.chat-head button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}
#DM #chats{
    align-items: center;
    gap: 7px;
    text-align: center;

    margin-top: 10px;
}
#message img{
    width: 30px;
    height: 30px;
}
#message p{
    width: calc(100% - 40px);
    font-size: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #1A1A1A;
    display: flex;
    position: relative;
}
#message p #time{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    color: #707070;
    font-size: 11px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 0;

}
.send-text{
    display: flex;
    align-items: center;
    text-align: center;
}
.send-text input{
    padding:12px;
    background-color: #1A1A1A;
    border: none;
    outline: none;
}
.send-text button{
    background-color: #1A1A1A;
    border: none;
    outline: none;
}





/* Public Chat */
#public-chats{
display: none;
flex-direction: row;
gap: 30px;
}
.right-pubic-chat{
    display: flex;
    flex-direction: column;
    border: 1px solid #F26826;
    border-right: 0;
}

#public-chat-1{
    width: calc(270px - 20px);
}
.name-time{
    gap: 50px;
    width: 150px;
}
.name-time a{
    font-size: 14px;
    color: #77F226;
}
#small-gray-time{
    font-size: 9px;
    color: #707070;
}
.name-time p{
    font-size: 12px;
}
#name-chats1 i{

}

/* Divider */
.divider {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #707070;
    margin: 5px;
  }
/*  */
  .right-pubic-chat{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin-top: 30px;
    height: 150px;
    gap: 10px;
    border-radius: 6px;
    margin-left: -35px;
  } 
 .right-pubic-chat img{
    width: 20px;
    height: 20px;
   }



@media(max-width: 550px) or (max-width: 950px){
    .top-nav{
        padding: 10px;
    }
}
@media(max-width: 850px){
    .top-nav .right{
        display: none;
    }
    .top-nav .small-nav{
        display: flex;
    }
}
@media(max-width: 450px){
    .top-nav{
        flex-direction: column;
        align-items: flex-start;
    }.top-nav .small-nav{
        align-self: flex-end;
    }
    .left-nav{
        top: 118px;
    }
    .right-nav{
        margin-top: 130px;
    }
}