body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1a1a1a;
}
.container {
  margin-left: 250px;
  margin-right: 100px;
  width: calc(100% - 250px - 100px);
}

.table-div{
  width: calc(100% - 10px);
  margin-top: 40px;
}
/*  Table*/
table {
  width: 100%;
  font-family: roboto;
  margin-top: 10px;
border-collapse: collapse;
margin-left: 20px;
}
table th{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 25px;
}
table td {
  border: 2px solid #707070;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 5px;

}
#col-2nd{
    border-right: none;
}
#col-3rd{
    border-left: none;
}
table tr td:nth-child(1),
table tr td:nth-child(2){
  width: 300px !important;
}
table td span {
    font-size: 10px;
    color: #767676;
}
#accepted{
    color: #77F226;
    font-size: 14px;
}
#rejected{
    font-size: 14px;
    color: #D50C0C;
}



@media (max-width:830px){
  .table-div{
    overflow-x: scroll;
  }
}

@media (max-width:890px){
  .container {
    margin: 0;
    width: 100%;
  }
}