.controls_under_nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    width: 100%;
}

.controls_under_nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.3s;
}

.controls_under_nav a i {
    color: var(--site-clr);
}

.controls_under_nav a:hover {
    text-decoration: underline;
    color: var(--site-clr);
}






@media(max-width: 500px) {
    .controls_under_nav {
        padding: 20px 10px;
        width: calc(100% - 20px);
    }
}