.real_time_values {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 40px;
  color: var(--site-clr);
}

.real_values {
  width: 106px;
  height: 106px;
  position: relative;
  border-radius: 3px;
  border:1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;

}

.real_values p {
  position: absolute;
  bottom: -20px;
  width: 100%;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-family: roboto-light;
  transform: translateY(105%);
}

.real_values span {
  font-weight: normal;
  font-family: roboto;
  font-size: 24px;
  
}




@media(max-width: 400px) {
  .real_time_values {
    flex-direction: column;
    gap: 50px;
  }
}