.left{
    background-image: url("/keyboard.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.right{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: #111213af;
    backdrop-filter: blur(10px);
    max-width: 550px;
    width: 100%;
    overflow: hidden;
}

.left .top,
.left .bottom{
    width: calc(100% - 450px);
    padding: 20px 0px 50px 200px;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50px;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-top:40px;
    font-size: 18px; 
}
.navigation:has(a){
    flex-direction: row;
}
.navigation .resetText{
    margin-top: 10px;
    width: 292px; 
    font-size: 14px; 
    font-style: normal;
    font-family:"roboto";
    text-align: center; 
    opacity: 1;
}
.navigation:has(a)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: gray;
}
.navigation:has(a)::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--site-clr);
    width: 50%;
    height: 3px;
    border-radius: 50px;
    transition: 0.5s;
}
.navigation:has(a:first-child.active)::after{
    translate: 0 0;
}
.navigation:has(a:last-child.active)::after{
    translate: 100% 0;
}

.auth_form {
    min-width: 300px;
    max-width: 330px;
}
.auth_form a.forgot_password {
    margin: 20px 0px;
    display: flex;
    font-size: 14px;
    align-self: flex-end;
    color: gray;
    transition: 0.3s;
    text-decoration: underline;
}
.auth_form a:hover {
    color: rgb(0, 98, 255);
}


p.reEmail{
    font-size: 14px;
    margin-top: 10px;
}
p.reEmail a{
    text-decoration: none;
    color: var(--site-clr);
    font-size: 14px;
    transition: 0.3s;
}

p.reEmail a:hover{
    text-decoration: underline;
     
}
p.new_account{
    font-size: 14px;
    margin-top: 10px;
}
p.new_account a{
    text-decoration: none;
    color: var(--site-clr);
    font-size: 14px;
    transition: 0.3s;
}
p.new_account a:hover{
    text-decoration: underline;
    color: rgb(0, 98, 255);
}
.back_to_login{
    font-size: 15px;
    color: gray;
}
.back_to_login:hover{
    text-decoration: underline;
}

.robotoLight{
    font-family: roboto-light;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    opacity: 1;
}

@media(max-width: 1265px){
    .left .top,.left .bottom{
        padding-left: 10px;
    }
}
@media(max-width: 1075px){
    .left .top, .left .bottom{
        display: none;
    }
    .right{
        width: 100%;
        max-width: 100%;
    }
}
@media(max-height:565px){

    .navigation{
        font-size:14px;
        margin-top: 10px;
    }
    p.reEmail{
        font-size: 11px;
        margin-top: 0;
    }
    p.reEmail a{
        text-decoration: none;
        color: var(--site-clr);
        font-size: 11px;
        transition: 0.3s;
    }
    .navigation .resetText{
        margin-top: 10px;
        width: 292px; 
        font-size: 12px; 
        font-style: normal;
        font-family :roboto-light;
        font-weight: 300; 
        text-align: center; 
        opacity: 1;
    }
}