@font-face {
  font-family: roboto;
  src: url("./RobotoMedium.ttf");
}
@font-face {
  font-family: roboto-bold;
  src: url("./RobotoBold.ttf");
}
:root {
  --bg: #313131;
  --dark-bg: #1A1A1A;
  --black: #000000;
  --fg: #F8F8F8;
  --heading: #FFFFFF;
  --secodary-clr: #767676;
  --site-clr: #F26826;
  --red: #E07979;
  --green: #4BB543;
  --blue: #90CAF9;
  --dark-red: #610000;
  --dark-green: #156502;
}




body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: roboto;
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}



h1,
h2,
h3,
.bold {
  font-family: roboto-bold;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--fg);
}
input::-webkit-inner-spin-button{
  display: none;
}







form{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button{
  background-color: var(--site-clr);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}












.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: calc(100% - 60px);
}

table {
  border-collapse: collapse;
}

table th {
  font-size: 14px;
  text-align: left;
  padding: 12px;
  background-color: #1A1A1A;
}

td,
th {
  text-align: left;
  padding: 0px 12px;
}

table,
tr {
  width: 100%;
}

table tr:nth-child(2n) {
  background-color: #282828;
}

table tr:nth-child(2n+1) {
  background-color: #707070;
}

td p{
  text-overflow: ellipsis; 
  overflow:hidden;
  white-space: nowrap;
  width: 100px;
}
td img{
  width: 50px;
}
th input,
td input {
  width: 20px;
  height: 20px;
}

td:has(button:nth-child(2)) {
  display: flex;
  align-items: center;
  gap: 5px;
}

td button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}














@media(max-width: 1000px) {
  .table {
      overflow: auto;
      width: calc(100% - 60px);
  }
  table td p{
      width: 250px;
      white-space: pre-wrap;
  }
}

@media(max-width: 500px) {
  .container {
      padding: 0px 10px;
      width: 100%;
  }
  .table{
    width: calc(100% - 20px);
  }
}