.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 50px;
}


.table {
    width: 100%;
}

.table table {
    border-collapse: collapse;
}
.table table .center{
    text-align: center;
}
.table table .left{
    text-align: left;
}
.table table .right{
    text-align: right;
}
.table table th {
    font-size: 14px;
    background-color: #1A1A1A;
}

.table table td,
.table table th {
    text-align: left;
    padding: 10px;
}

.table table,
.table table tr {
    width: 100%;
}
.table table input[type='checkbox']{
    accent-color: var(--site-clr);
}

.table table tr:nth-child(2n) {
    background-color: #282828;
}

.table table tr:nth-child(2n+1) {
    background-color: #707070;
}

.table table td p{
    text-overflow: ellipsis; 
    overflow:hidden;
    white-space: nowrap;
    width: 100px;
}
.table table th input,
.table table td input {
    width: 20px;
    height: 20px;
}

.table table td:has(button:nth-child(2)) {
    display: flex;
    gap: 5px;
}

.table table td button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}


.table .Win span {
    background-color: #156502;
    padding: 5px 10px;
    border-radius: 10px;
}
.table .Loss span {
    background-color: #610000;
    padding: 5px 10px;
    border-radius: 10px;
}








@media(max-width: 1000px) {
    .table {
        overflow: auto;
        width: 100%;
    }
    .table table td p{
        width: 250px;
        white-space: pre-wrap;
    }
}

@media(max-width: 500px) {
    .container {
        padding: 0px 10px;
    }
}