.accordian {
  padding: 0 !important;
}
.accordian table{
  width: 100%;
  overflow: hidden;
}
.accordian table tbody *{
  background-color: black;
  font-size: 14px !important; 
}
.accordian table .open_btn *{
  display: flex;
  align-items: center;
  gap: 5px;
}

.accordian table tbody{
  display: none;
}
.accordian table tbody.show{
  display: table-row-group;
}

.table table{
  table-layout: fixed;
}
.table table th:has(input[type='checkbox']),
.table table td:has(input[type='checkbox']){
  width: 50px;
}
.accordian table tbody tr td{
  background-color: black !important;
}
.table table tr:nth-child(2n) td {
  background-color: #282828;
}









@media(max-width:800px){
  .table table{
    width: 800px;
  }
}